---
import DefaultLayout from '../components/DefaultLayout.astro';
import PortfolioItem from '../components/PortfolioItem.astro';
import { writeToLocalDataFile, readLocalDataFile } from '../js/localDataManager';

// Fetch stars count from GitHub
async function fetchRepoStars(repoLink: string): Promise<number> {
  try {
    const res = await fetch(`https://api.github.com/repos/${repoLink}`);
    const data = await res.json();

    if (data.stargazers_count) {
      return data.stargazers_count;
    } else {
      // If we get rate limited or GitHub request fails, return the value from cache
      const valueFromCache = await readLocalDataFile("openSourceProjectStars.binanceDCABot");
      return valueFromCache || 1;
    }
  } catch(error) {
    console.log(error);
    return 1;
  }
}

const getRepoStars = async (repoName: string, repoLink: string) => {
  const repoStars = await fetchRepoStars(repoLink);
  // Cache stars count
  if (repoStars) {
    await writeToLocalDataFile("openSourceProjectStars", {
      [`${repoName}`]: `${repoName}Stars`,
    });
    return repoStars;
  } else {
    return 1
  }
}
---

<DefaultLayout documentTitle="Code Hermit | Projects" documentDescription="Welcome to my portfolio, showcasing a selection of projects I've worked on.">
  <div class="container projects-container">
    <h1 class="main-heading text-swipe-animation">Projects</h1>
    <div class="intro">
      <p>Welcome to my portfolio, showcasing a selection of some projects I've worked on.</p>
    </div>

    <section class="projects">
      <PortfolioItem
        projectYear="2023"
        title="NotJustEvent"
        image="/images/nje-website.png"
        projectLink="https://dev.notjustevent.com"
        tags={[
          "React",
          "TypeScript",
          "Node.js",
          "MongoDB",
          "Git"
        ]}>
        <p slot="subtitle">An all-in-one event management platform, NotJustEvent.</p>

        <div slot="description">
          <p>
            Built using TailwindCSS, Material UI, React, Node and Express. The backend API, built using Node and Express,
            efficiently handles data while the frontend, created with React.js, presents it in an intuitive and user-friendly interface.
            Pages are rendered client-side with dynamic content using Material UI and TailwindCSS on the client side.
          </p>
          <p>
            I worked extensively on the backend API, creating custom-design API endpoints using Express(Typescript) for handling user(s)'
            data, and managing the entire data fed to the client side. Built to be optimized for speed and efficient data retrival and
            optimized search queries.
          </p>
        </div>
      </PortfolioItem>

      <PortfolioItem
        projectYear="2023"
        title="Yoris Africa"
        image="/images/yoris-website.png"
        projectLink="https://yoris-website.vercel.app"
        tags={[
          "HTML",
          "CSS",
          "Tailwind CSS",
          "Material UI",
          "JavaScript",
          "React",
          "Node.js",
        ]}>
        <p slot="subtitle">Website for a Logistics company, Yoris Africa.</p>

        <div slot="description">
          <p>
            Built using TailwindCSS, Material UI, React, Node and Express. The content comes from the various APIs (custom-design API endpoints using Express for rendering blog posts,
            fetching user(s)' data, and managing the entire data fed to the client side, Twitter API for recent rendering tweets).
          </p>
          <p>
            Pages are rendered client-side with dynamic content using Material UI and TailwindCSS on the client side.
            The website is optimised for speed and for search engines.
          </p>
        </div>
      </PortfolioItem>

      <PortfolioItem
        projectYear="2022"
        isOpenSource
        githubStarsCount={await getRepoStars('imagoQuad', 'NnakwueKenny/imago_quad')}
        title="Imago Quad"
        image="/images/imago-quad-website.png"
        projectLink="https://imago-quad.vercel.app"
        sourceCode="https://github.com/NnakwueKenny/imago_quad/tree/main/imago_quad"
        tags={[
          "HTML",
          "CSS",
          "JavaScript",
          "React",
        ]}>
        <p slot="subtitle">A Gaming App built for the web using React with an intuitive UI.</p>

        <div slot="description">
          <p>After being bored by continually playing the Android version of the app, "Four pics one word", I was motivated to develop this web version.</p>
          <p>I built it to run entirely on the browser and it's also open-source on GitHub and can be easily deployed on your favourite hosting platform.</p>
        </div>
      </PortfolioItem>

      <PortfolioItem
        projectYear="2022"
        isOpenSource
        githubStarsCount={await getRepoStars('learncha', 'NnakwueKenny/learncha')}
        title="Learncha"
        image="/images/learncha-website.png"
        projectLink="https://learncha.vercel.app"
        sourceCode="https://github.com/NnakwueKenny/learncha"
        tags={[
          "HTML",
          "CSS",
          "Tailwind CSS",
          "Material UI",
          "JavaScript",
          "React",
          "AWS"
        ]}>
        <p slot="subtitle">Learncha, a full-stack web learning application for children.</p>

        <div slot="description">
          <p>The project included creating a bespoke UI to teach children using Gaming, Speech-Recognition, Climate Challenge, and also provide weather update.</p>
          <p>The backend API, built using Django, efficiently handles data while the frontend, created with React.js, presents it in an intuitive and user-friendly interface.
            The app simplifies the process for students to find study materials, play games, get weather updates, amd also participate in climate protection challenge...</p>
            <p>The API endpoints used were hosted on AWS cloud infrastructure and integrated with a secure data transmission.</p>
        </div>
      </PortfolioItem>

      <PortfolioItem
        projectYear="2022"
        title="Ribbons"
        image="/images/ribbons-website.png"
        projectLink="https://ribbons.vercel.app/admin"
        githubStarsCount={await getRepoStars('ribbons', 'NnakwueKenny/ribbons')}
        sourceCode="https://github.com/NnakwueKenny/ribbons"
        tags={[
          "HTML",
          "CSS",
          "Tailwind CSS",
          "Material UI",
          "JavaScript",
          "React",
          "Node.js",
        ]}>
        <p slot="subtitle">Ribbons, a full-stack web application for reporting gender-based violence cases.</p>

        <div slot="description">
          <p>Built especially for those in the remote setting, there is an admin, agent, and user panel. The frontend is built using React.js while the backend API was built with Node and Express</p>
          <p>The webapp is designed to be easy to use and it provides accurate, up-to-date information in real-time, making it a valuable tool for agencies and users alike to help fight against gender-based violence. </p>
        </div>
      </PortfolioItem>
    </section>
  </div>
</DefaultLayout>

<style lang="scss">
  .projects {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    row-gap: 2rem;
  }

  .projects-container {
    margin-top: 2.5rem;;
  }

  @media screen and (max-width: 980px) {
    .projects {
      margin-top: 1.5rem;
    }
  }
</style>